*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $main-color;
  background-image: url("https://uploads-ssl.webflow.com/6178c15da19f8bc0554f7651/6178c15ea19f8bd99f4f7667_grunge.png");
  background-size: cover;
  box-sizing: border-box;
}
